
@import "tailwindcss";

@theme{
    --color-primary:#3B82F6;
    --color-secondary:#10B981;
    --color-background:#F9FAFB;
    --color-textStrong: #1F2937;
    --color-textLight:#1F2937;
    --color-accent:#8B5CF6;
    --color-accent-light:#A78BFA;
}